body {
	background: linear-gradient(-45deg, #4b1800, #6e002a, #186885, #275a34);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

.mealList,
.drinkList {

	white-space:pre-wrap; 
}

.strong {
	font-weight: bold;
}

body, 
label,
select,
.btn {
	font-family: 'Yrsa', serif;	
}

h1,
label {
	color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

label, 
select {
	font-size: large;
	margin-bottom: 10px;
}

.col {
	margin-top: 10px;
}


.card-title {
	color: black;
	font-size: medium;
	text-decoration: underline;
}

.card {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.btn {
    background-color: rgb(0, 84, 241);
    margin-top: 10px;
}

.card-title {
    font-weight: bolder;
}

h4 {
    font-size: medium;
    font-weight: bold;
}

th {
	text-align: left;
	font-weight: bold;
	
}